<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth demo</title>


   

</head>
<body>




    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div>
                    <div>
                        <a class="navbar-brand" href="#"><h4>ShoppingCart System</h4></a>
                    </div>

                </div>


            </div>





            <div style="float: right;">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index">Home</a></li>
                    @if (User.IsInRole("vendor") || User.IsInRole("admin") || User.IsInRole("user"))
                    {
                        <li><a href="/Login/Logout">Logout</a></li>
                    }

                    @if (!User.IsInRole("vendor") && !User.IsInRole("admin") && !User.IsInRole("user"))
                    {
                        <li><a href="/Login/Login">Login</a></li>
                        <li><a href="/Login/Registration">Sign up</a></li>
                    }


                    @if (User.IsInRole("admin"))
                    {
                        <li><a href="/Admin/ManageUsers">Admin Dashboard</a></li>
                    }

                    @if (User.IsInRole("vendor"))
                    {

                        <li><a href="/Vendor/MyStore">My Store</a></li>
                    }


                </ul>
            </div>

        </div>

    </nav>


    <div>
        @RenderBody()
    </div>
    <hr />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts",required:false)

</body>
</html>

