

@model project.Models.RegistrationModels.Dto.Registration
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    <style>
        form {
            border: 3px solid #f1f1f1;
            width: 60%;
            margin: auto;
          
        }

        input[type=text], input[type=password] {
            width: 55%;
            padding: 4px 4px;
            margin: 4px 0;
            display: block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        select{
            width: 55% !important
        }

        button {
            width: 50% !important;
        }


        .container {
            padding: 2px;
        }

        .msg {
            padding: 0px;
        }

        .err {
            color: red;
        }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">web site name</a>
            </div>
            <div style="float: right;">
                <ul class="nav navbar-nav">


                    <li><a href="/Home/Index">Home</a></li>

                </ul>
            </div>

        </div>

    </nav>


    <div class="container">
      
            
                <form asp-action="Registration" method="post">
                    <div class="container">
                    <h3>Registration</h3>
                  
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" asp-for="Name"/>
                        <span class="text-danger" asp-validation-for="Name"></span>

                    </div>

                    <div class="form-group">
                        <label>UserName</label>
                        <input type="text" class="form-control" asp-for="UserName" />
                        <span class="text-danger" asp-validation-for="UserName"></span>

                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" asp-for="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>

                    </div>
                  
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" asp-for="Password" />
                        <span class="text-danger" asp-validation-for="Password"></span>

                    </div>

                    <div class="form-group">
                        <label>Password Confirm</label>
                        <input type="password" class="form-control" asp-for="PasswordConfirm" />
                        <span class="text-danger" asp-validation-for="PasswordConfirm"></span>

                    </div>

                    <div class="form-group">
                        <label>Role</label>
                        <select class="form-control" name="role" asp-for="Role">
                            <option value="vendor" selected>Vendor</option>
                            <option value="user">User</option>
                        </select>

                    </div>
                   
                    @if(TempData["msg"] != null)
                    {
                        <div class="form-group">
                            @TempData["msg"]
                        </div>

                       
                    }
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                    <a class="btn btn-info" href="/Login/Login">Login</a>
            </div>
                </form>
         
        
      
    </div>




</body>
</html>
